# /usr/lib/bootupd/grub2-static/configs.d/30-schloss-theme.cfg
if [ -f ${config_directory}/themes/schloss/theme.txt ]; then
  insmod gfxterm; insmod png
  set theme=${config_directory}/themes/schloss/theme.txt
fi
